@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Almacén</h1>
        <p>
            Proyecto para el ejercicio 2 de Programación 3. <br /> CRUD de productos y proveedores
        </p>
        <a class="btn btn-secondary" asp-controller="Producto" asp-action="List">Ver Productos</a>
        <a class="btn btn-secondary" asp-controller="Proveedor" asp-action="List">Ver Proveedores</a>
        
    </div>